
@import '../node_modules/bootstrap/scss/mixins';
@import '../node_modules/bootstrap/scss/functions';
@import '../node_modules/bootstrap/scss/variables';
$custom-theme-colors:(
"maintheme":#f2f0ea,
"mainbg":#6b6b7b,
"darkmaintheme":#efe5c5,
"maintexttheme":#000,
"lighttexttheme":#252525,
"darkyellow":#433b0d,
"blonde":#faf0be,
); 
$theme-colors : map-merge($custom-theme-colors,$theme-colors); 
@import '../node_modules/bootstrap/scss/maps';
@import '../node_modules/bootstrap/scss/utilities';

$utilities: map-merge(
  $utilities,
  (
    "width": map-merge(
      map-get($utilities, "width"),
      (
        values: map-merge(
          map-get(map-get($utilities, "width"), "values"),
          (15: 15%,
          35:35%,
          65:65%,
          85:85%
          )
        ),
      ),
    ),
  )
);

@import '../node_modules/bootstrap/scss/bootstrap';   